<!DOCTYPE html>
<html>
    <head>
        <title>Sahinotes</title>
        <%- style %>
    </head>
    <body>
        <%- include('_header'); %>
        <%- body; %>
        <%- include('_footer'); %>
        <%- script %>
    </body>
</html>